/Area.class
/Category.class
/SearchKeyword.class
/SubArea.class
/TestWebscraper.class
/Topic.class
/WebScraper.class
/Item.class
/SearchQuery.class
/SearchResult.class
/MainGui.class
/Search.class
/State.class
/Webscraper.class
/TestWebScraper.class
/MainGui$1.class
